Repository purduehackers/evergreen, pull requests merged in 2025-02, with the labels that each got.

#57 Off-boarding @iracc__
  .github/CODEOWNERS
  events/README.md
  meta/locations/lawson-office.md
  meta/structure/roles.md
Labels: meta

#56 Update Off-boarding Procedures
  meta/resources/offboarding.md
Labels: meta

#61 Jack's Projects
  engineering/beacons/.gitkeep
  engineering/beacons/DESIGN_DOC.md
  engineering/beacons/README.md
  engineering/beacons/images/concept.jpeg
  engineering/passports/id/.gitkeep
  engineering/passports/id/DESIGN_DOC.md
  engineering/passports/id/README.md
  engineering/the-sign/.gitkeep
  engineering/the-sign/DESIGN_DOC.md
  engineering/the-sign/README.md
Labels: engineering

#70 Purdue Day of Giving Fundraising Docs
  comms/fundraising/day-of-giving/README.md
Labels: comms

#73 Update Division Leads
  design/README.md
  engineering/README.md
Labels: meta

#74 Dark Forest PII Collection Letters
  meta/resources/materials/contact-collection-letter.md
Labels: meta

#75 Wack Hacker Tools Info
  engineering/wack-hacker-bot/tools/birthdays.md
  engineering/wack-hacker-bot/tools/evergreen-it.md
  engineering/wack-hacker-bot/tools/summarize.md
  engineering/wack-hacker-bot/tools/transcription.md
Labels: engineering

#76 Update Onboarding Instructions
  meta/resources/onboarding.md
Labels: meta

#78 Session Planning Updates
  events/hack-night/sessions/README.md
Labels: events

#83 Create lambertus-office.md
  meta/locations/lambertus-office.md
Labels: meta

#101 Correct Minor Typos throughout Evergreen - Feb. 19, 2025
  comms/fundraising/day-of-giving/README.md
  comms/social/running-socials.md
  design/badges/making-badges.md
  design/badges/standards.md
  design/branding2025/planning.md
  engineering/site/DESIGN_DOC.md
  engineering/wack-hacker-bot/DESIGN_DOC.md
  engineering/wack-hacker-bot/tools/evergreen-it.md
  events/commit-overflow/README.md
  events/hack-night/circles/archive/spoken-language.md
  events/hack-night/hack-cart.md
  events/passport-ceremonies/cleanup.md
  events/passport-ceremonies/event.md
  events/passport-ceremonies/setup.md
  meta/resources/materials/contact-collection-letter.md
  meta/resources/offboarding.md
  meta/resources/onboarding.md
  meta/structure/divisions.md
Labels: meta
